/* Banner */

.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(41, 90, 41);
}
.hero-img{
  width: 200px;
  align-items: center;
  align-content: center;
}
.hero-txt{
  width: 700px;
  margin-left: 100px;
  align-content: center;
}

.hero h2 {
  font-size: 48px;
  color: #f9faf8;
  margin-bottom: 0;
}

.hero p {
  font-style: normal;
  font-weight: 100;
  color: #f9faf8;
  margin-top: 0;
}

.hero button {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 20px 5px 20px;
  background-color: green;
  color: #e5e7eb;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.hero img {
  height: 300px;
  width: 320px;
  border-radius: 400px;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.hero-txt h2 {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  overflow: hidden;
  padding-top: 100px;
  margin-left: 50px;
}
.hero-txt p {
  font-style: normal;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 50px;
}
.hero-txt button {
  margin-left: 50px;
  font-size: large;
  font-style: oblique;
  margin-top: 10px;
  height: 50px;
}
