.ContentMission{
  width: 100%;
  background-color: rgb(211, 219, 211);
  height: auto;
 
}
.ContentMission img{
  width: 100%;
  height: 350px;
}
.content{
  padding: 5% 20%;
}
.content p{
  font-size: 26px;
  font-style: italic;
  font-weight: 100;
  overflow: hidden;
  color: rgb(5, 172, 5);
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content h3{
  font-size: 36px;
  color: rgb(61, 8, 8);
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}